<h1>Hello</h1>
<html>
    <head> 
        <title>B8 Page</title>    
    </head>
<body>
    <h1>What is HTML ?</h1>
    <p>HTML stands for Hyper Text Markup Language
        HTML is the standard markup language for creating Web pages
        HTML describes the structure of a Web page
        HTML consists of a series of elements
        HTML elements tell the browser how to display the content
        HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc</p>
</body>
</html>    

<html>
<body>

    <h1 style="background-color:powderblue;">This is a heading</h1>
    <p style="background-color:tomato;">This is a paragraph.</p>
    
    </body>
</html>  

<address>
    Written by John Doe.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
    </address>

    <html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>